<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Leslie S. Huh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <link rel="stylesheet" href="../style.css">
    <title>Contact ~ Leslie H</title>
</head>
<body>
    <header>
        <h1>Leslie Huh</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div>
        <h2>Contact me!</h2>
            <form action="/action_page.php">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br><br>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email"><br><br>
                <label for="comment">Comment:</label><br>   
                <textarea name="comment" rows="10" cols="30"></textarea><br><br>
                <input type="submit">
              </form>
              
        <h2>Contact Methods</h2>
        <p><a href="mailto:lhuh@andrew.cmu.edu">Email</a></p>
        <p><a href="https://www.linkedin.com/in/leslie-huh/">LinkedIn</a></p>
    </div>
</body>
</html>