<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Leslie S. Huh">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <title>"Leslie Huh"</title>
</head>
<body>
    <header>
        <h1>Leslie Huh</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="views/cv.html">CV</a>
            <a href="views/contact.html">Contact Me</a>
            <a href="views/fun.html">For fun</a>
        </nav>
    </header>
    <div>
        <h2>Home
            <p>Hello world!</p>
        </h2>
    </div>
</body>
</html>